.page-wrapper {
    font-family: Montserrat, sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 1px 10px;
}

.link {
    color: inherit;
    text-decoration: none;
}

.color-accent {
    color: #18cfab;
}

.btn {
    display: inline-block;
    width: 165px;
    color: #ffffff;
    padding: 26px 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: #18cfab;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color .3s ;
}

.btn:hover {
    background-color: #139f83;

}

.section-heading {
    font-size: 36px;
    text-align: center;
    position: relative;
    margin-top: 80px;
    margin-bottom: 114px;
}

.section-heading:before, .section-heading:after {
    content: '';
    position: absolute;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    left: 50%;
}

.section-heading:before {
    bottom: -29px;
    transform: translateX(calc(-50% - 10px));
}

.section-heading:after {
    bottom: -33px;
    transform: translateX(calc(-50% + 10px));

}

.header {
    box-shadow: inset 0 0 0 2000px rgba(242, 255, 248, 0.2);
    background: url("./img/section-1.jpg") no-repeat fixed center top / cover;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

.header-top {
    background: rgba(41, 33, 29, 0.4);
}

.header-logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: 67px;
    background: url("./img/polygon-logo.png") no-repeat left center;
    color: #ffffff;
    font-size: 32px;
    align-self: center;
}

.logo-char {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    margin-left: 14px;
}

.logo-name {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 8px;
}

.logo-name .color-accent {
    margin-left: -8px;
    font-weight: bold;
}

.header-menu {
    display: flex;
    align-items: center;
    align-self: stretch;
    color: #b8b8b8;
}

.menu-list {
    display: flex;
    align-self: stretch;
    font-size: 14px;
}

.menu-item {
    position: relative;
    align-self: stretch;
    transition: all .3s;
    box-sizing: border-box;
}

.menu-item:after, .header-search:after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-color: #18cfab;
    transition: width .2s ease-in;
}

.header-search:after{
    bottom: -50px;
}

.menu-item:hover.menu-item:after {
    width: 100%;
}

.menu-item:hover .menu-link {
    color: #18cfab;
}

.menu-link {
    display: inline-block;
    padding-top: 52px;
}

.menu-item:not(:first-child) {
    margin-left: 19px;
}

.header-search {
    position: relative;
    border: none;
    background: transparent;
    font-size: 22px;
    margin-left: 15px;
    color: #b8b8b8;
    cursor: pointer;
}

.header-search:hover.header-search:after {
    width: 100%;
}

.header-search:hover {
    color: #18cfab;
}

.hero-content {
    padding: 245px 0;
    text-align: center;
    color: #ffffff;
}

.hero-heading {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.hero-motto {
    font-size: 79px;
    margin-bottom: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.hero-subheading {
    color: #d4d4d4;
    font-size: 34px;
    margin-bottom: 150px;
}

.hero-btn {
    border-top: 5px solid #ffffff;
}

.hero-btn:nth-child(2) {
    background-color: #00cbf6;
    margin-left: 28px;
}

.hero-btn:nth-child(2):hover {
    background-color: #009bbf;

}

.preferences-list {
    display: flex;
    /*justify-content: space-between;*/
}

.preferences-item {
    width: 25%;
    height: 300px;
    box-sizing: border-box;
    border-top: 8px solid #18cfab;
    text-align: center;
    background-color: #1c2a33;
    background-position: center 60px;
    background-repeat: no-repeat;
    color: #18cfab;

}

.preferences-item:nth-child(even) {
    background-color: #18cfab;
    border-top-color: #ffffff;
    color: #ffffff;
}

.preferences-item:nth-child(1) {
    background-image: url("./img/prefs-touch.png");
}

.preferences-item:nth-child(2) {
    background-image: url("./img/prefs-diamond.png");
}

.preferences-item:nth-child(3) {
    background-image: url("./img/prefs-custom.png");
}

.preferences-item:nth-child(4) {
    background-image: url("./img/prefs-resp.png");
}

.preferences-description {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 180px;
}

.services-list {
    display: flex;
    justify-content: space-between;
}

.service-title {
    position: relative;
    width: calc(100% / 6);
    font-size: 16px;
    color: #717171;
    text-align: center;
    padding: 27px 0 30px 0;
    background-color: #f8fcfe;
    border: 1px solid #ebebeb;
    transition: all .3s ease;
    box-sizing: border-box;
    cursor: pointer;
}

.service-title:after {
    content: '';
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    border-top: 12px solid #18cfab;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    transition: opacity .3s ease;
}

.service-title:hover, .service-title_active {
    background-color: #18cfab;
    border-color: #18cfab;
    color: #ffffff;
}

.service-title:hover.service-title:after {
    opacity: 1;
}

.service-title:not(:first-child) {
    border-left: none;
}

.services-content {
    margin: 24px 0 103px 0;
}

.content-tab {
    display: flex;
}

.services-img {
    width: 194px;
    height: 144px;
    object-fit: cover;
}

.services-description {
    text-align: justify;
    font-size: 14px;
    font-weight: 300;
    color: #777777;
    line-height: 24px;
    margin-left: 24px;
}

.call {
    height: 474px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("./img/section-2.jpg") no-repeat fixed center top / cover;
}

.call .container {
    overflow: auto;
    text-align: center;
    position: relative;
}

.call-heading {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 126px;
}

.call-subheading {
    color: #d8d8d8;
    font-size: 16px;
    margin-top: 35px;
}

.call-btn {
    margin-top: 80px;
    border-top: 5px solid #ffffff;
}

.work {
    background-color: #f8fcfe;
}

.work .container {
    position: relative;
}

.work-tabs {
    display: flex;
    width: 609px;
    margin: 0 auto 70px;
}

.work-title {
    width: calc(609px / 5);
    text-align: center;
    padding: 24px 0 20px;
    font-size: 14px;
    border: 1px solid #ebebeb;
    transition: all .3s;
    color: #717171;
}

.work-title:not(:first-child) {
    border-left: none;
}

.work-title:hover, .work-title_active {
    color: #18cfab;
    box-shadow: 0 -2px 0 0 #18cfab;
}

.work-gallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 0;
    margin-bottom: 80px;
    min-height: 624px;
}

.gallery-container {
    position: relative;
    width: calc(100% / 4);
    overflow: hidden;
    animation: appendImage .5s forwards;
    opacity: 0;
    height: 0;
}

@keyframes appendImage {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: 208px;
    }
}

.gallery-container .gallery-img {
    width: 100%;
    height: 208px;
    object-fit: cover;
}

.gallery-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 100%;
    bottom: -100%;
    right: 0;
    box-shadow: inset 0 3px 0 0 #18cfab;
    transition: all .3s ease-out;
}

.gallery-container:hover .gallery-overlay {
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

.overlay-buttons {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.overlay-btn {
    display: flex;
    width: 41px;
    height: 41px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    background: transparent;
    color: #18cfab;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
}

.overlay-btn:hover {
    background-color: #18cfab;
    color: #ffffff;
    border: none;

}


.overlay-btn:last-child {
    margin-left: 5px;
}

.overlay-btn .btn-icon {
    margin: auto;
    font-size: 20px;
}

.overlay-heading {
    color: #18cfab;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 34px;
}

.overlay-subheading {
    color: #8a8a8a;
    font-size: 12px;
    font-weight: 300;
    margin-top: 14px;
}

.btn-load {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 100px;
}

.btn-text {
    display: inline-block;
    margin-left: 15px;
}

.btn-load .fa-plus {
    font-size: 25px;
}

.loader {
    display: block;
    margin: 0 auto 100px;
    border: 8px solid #f3f3f3;
    border-top: 8px solid #18cfab;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.news-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 132px;
}

.news-item {
    position: relative;
    background-color: #f8fcfe;
}

.news-content {
    padding: 14px 15px 12px 15px;
}

.news-heading {
    font-size: 18px;
    font-weight: 700;
    color: #717171;
    margin-bottom: 14px;
    transition: color .3s;
}

.news-author, .news-comments {
    font-size: 14px;
    font-weight: 300;
    color: #777777;
}

.news-comments {
    position: relative;
    margin-left: 32px;
}

.news-comments:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #777777;
    left: -18px;
    top: 2px;
}

.news-date {
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 0;
    right: 0;
    width: 66px;
    height: 68px;
    color: #ffffff;
    background: #203e38;
    padding: 11px 19px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 25px;
    transition: background-color .3s;
}

.news-item:hover .news-heading {
    color: #18cfab;
}

.news-item:hover .news-date {
    background-color: #18cfab;
}

.news-item:nth-child(-n+4) {
    margin-bottom: 45px;
}

.reviews {
    min-height: 852px;
    background: linear-gradient(90deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("./img/section-3.jpg") no-repeat fixed center top / cover;
}

.slider-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-heading {
    color: #ffffff;
    margin-bottom: 180px;
}

.reviews-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-quote {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    min-height: 100px;
    color: #bbbbbb;
    text-align: center;
    line-height: 30px;
    /*animation: updateContent 1s forwards;*/
}

/*@keyframes updateContent {*/
/*    from {*/
/*        opacity: 0;*/
/*    }*/
/*    to {*/
/*        opacity: 1;*/
/*    }*/
/*}*/

.review-quote:before {
    content: '';
    position: absolute;
    width: 44px;
    height: 30px;
    top: -65px;
    left: 50%;
    transform: translateX(-50%);
    background: url("./img/qoutes-bg.png") no-repeat center center / contain;

}

.review-name {
    color: #18cfab;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 43px;
}

.review-position {
    font-size: 13px;
    font-weight: 300;
    margin-top: 18px;
    color: #bbbbbb;
}

.review-avatar {
    border-radius: 50%;
    width: 143px;
    height: 143px;
    margin-top: 37px;
    box-shadow: 0 0 0 10px rgba(31, 218, 181, 0.2);
    border: 4px solid #18cfab;
}

.review-slider {
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.slider-btn {
    width: 31px;
    height: 31px;
    background: transparent;
    border: 1px solid #bbbbbb;
    outline: none;
    color: #777777;
    transition: all .3s;
}

.slider-btn:hover {
    border: none;
    background: #18cfab;
}

.slider-btn:hover .fa:before {
    color: #ffffff;
}

.slider-btn:first-child {
    margin-right: 34px;
}

.slider-btn:last-child {
    margin-left: 34px;
}

.slider-btn .fa {
    font-size: 13px;
    color: #bbbbbb;
}

.slider-avatar {
    position: relative;
    box-sizing: border-box;
    width: 58px;
    height: 58px;
    object-fit: contain;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(31, 218, 181, 0.2);
    transition: bottom .5s, border .5s;
}

.slider-avatar:not(:first-of-type) {
    margin-left: 38px;
}

.slider-avatar:hover, .slider-avatar_active {
    bottom: 10px;
    border: 2px solid #18cfab;
}

.best-images .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.images-container {
    min-height: 500px;
}

.grid-item {
    margin-bottom: 17px;
    position: relative;
    overflow: hidden;

}

.grid-overlay {
    position: absolute;
    display: flex;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all .3s;
}

.grid-item:not(.grid-multiple):hover .grid-overlay {
    right: 0;
    background: rgba(0, 0, 0, .6);
}

.inner-grid-item:hover .grid-overlay {
    right: 0;
    background: rgba(0, 0, 0, .6);
}


.grid-buttons {
    margin: auto;
}

.grid-btn {
    display: inline-flex;
    height: 42px;
    width: 42px;
    background-color: #14b9d5;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}

.grid-btn:nth-child(1) {
    margin-right: 10px;
}

.grid-btn i {
    display: block;
    margin: auto;
}

.grid-item-big {
    width: 370px;
}

.grid-item-huge {
    width: 754px;
}

.inner-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 370px;
}

.inner-grid-item {
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
}

.grid-item-medium {
    width: 180px;
    height: 160px;
}

.inner-grid-item-small {
    width: 119px;
    height: 92px;
}

.grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btn-images {
    margin-top: 70px;
}

.hidden {
    display: none;
}

.footer {
    background-color: #22353f;
}

.footer-text {
    text-align: center;
    margin: 0 auto;
    padding: 47px 0;
    color: #aeaeae;
}

.footer-brand {
    margin-right: 8px;
    position: relative;
    cursor: pointer;
}

.footer-brand:after {
    content: '';
    position: absolute;
    height: 14px;
    width: 1px;
    background-color: #aeaeae;
    top: 3px;
    right: -6px;
}

.footer-brand:hover {
    text-decoration: underline;
}
